.container {
    width: 30%;
    margin-top: 10%;
    padding: 30px;
  }

  body {
      background-repeat: no-repeat;
      background-size: cover;
    }

.input {
margin-left: 60px;
}

.input2 {
    margin-left: 1px;
    }

